APP_NAME="📚APASI|Aplikai Pembantu Diseminasi"
APP_ENV=local
APP_KEY=base64:dtfTYhUJQmPVFXTTqaJ1DOXtc0gOIVZ4F4ecFI9CNYs=
APP_DEBUG=true
APP_PORT=8082
APP_URL=http://127.0.0.1:8082

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3305
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=1440
SESSION_DOMAIN=localhost

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=email@example.com
MAIL_PASSWORD=password
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="email@example.com"
MAIL_FROM_NAME="📚APASI Admin"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

FORWARD_DB_PORT=3301

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

WWWGROUP=1000
WWWUSER=1000

# PARAMETER DIBAWAH HARUS DIISI TERLEBIH DAHULU

# Bisa didapatkan melalui : http://webapi.bps.go.id/
MIX_WEBAPI_BPS_KEY=

# Kode wilayah, misalnya 6200 untuk Kalteng
MIX_WEBAPI_BPS_KODE=

# Dapat didapatkan melalui https://t.me/botfather
TELEGRAM_BOT_TOKEN=

# Dapat didapatkan melalui https://developers.giphy.com/
GIPHY_TOKEN=

# Untuk keperluan notifikasi
EMAIL_IPDS = 
EMAIL_TU = 
EMAIL_SOSIAL = 
EMAIL_DISTRIBUSI = 
EMAIL_PRODUKSI = 
EMAIL_NERWILIS = 

# Untuk keperluan login pengguna, misalnya neraca6200
AKUN_IPDS = 
AKUN_TU = 
AKUN_SOSIAL = 
AKUN_DISTRIBUSI = 
AKUN_PRODUKSI = 
AKUN_NERWILIS = 

PASSWORD_IPDS = 
PASSWORD_TU = 
PASSWORD_SOSIAL = 
PASSWORD_DISTRIBUSI = 
PASSWORD_PRODUKSI = 
PASSWORD_NERWILIS = 