/node_modules
/public/hot
/public/storage
/public/publikasi_folder
/public/publikasi_draft
/public/publikasi_desain
/public/publikasi_rilis
/public/publikasi_erata
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
